@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  padding: 10px 20px;
  color: #f2f2f2;
  transition: all 0.3s ease-in-out;
}

.primary-button {
  display: flex;
  background-color: #d91e1e;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  color: white;
}

.primary-button:hover {
  background-color: #e84545;
  cursor: pointer;
  color: white !important;
}

.custom-pagination .ant-pagination-item-active {
  background-color: #1a1a1a !important;
  border-color: #ededed !important;
}

.custom-pagination .ant-select-selector {
  background-color: #1a1a1a !important;
  color: #ededed !important;
  border-color: #ededed !important;
}

.custom-pagination .ant-select-selection-item {
  color: #ededed !important;
  background-color: #1a1a1a !important;
}

.custom-pagination .ant-select-arrow {
  color: #ededed !important;
}
